@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
}
.container{
    width: 40%;
    min-width: 500px;
    padding: 20px 0;
    padding-bottom: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.338);
    background-color: transparent;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.timer_display{
    position: relative;
    width: 92%;
    left: 4%;
    padding: 40px;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.338);
    background-color: transparent;
}
.button{
    width: 90%;
    margin: 60px auto 0  auto;
    display: flex;
    justify-content: space-between;
}
.button button{
    display: grid;
    place-items: center;
    width: 120px;
    height: 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.338);
    background-color: transparent;
    color: #fff;
    border: none;
    outline: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.button button:nth-child(2){
    width: 140px;
    height: 70px;
    display: grid;
    place-items: center;
}
@media(max-width: 786px){
    main{
        padding-inline: 10px;
    }
    .timer_display{
        font-size: 30px;
    }
    .container{
        width: 50%;
        max-width: 370px;
    }
    .button button{
        width: 70px;
        height: 40px;
    }
    .button .button{
        width: 30px;
    }
    .button button:nth-child(2){
        width: 90px;
        height: 50px;
        display: grid;
        place-items: center;
    }
    .button button img{
        width: 20px;
    }
    .button button:nth-child(2) img{
        width: 40px;
    }
}
@media(max-width: 500px){
    main{
        padding-inline: 10px;
    }
    .container{
        width: 100%;
        min-width: 200px;
    }
    .timer_display{
        font-size: 20px;
    }
    .button{
        justify-content: space-evenly;
    }

    .button button{
        width: 50px;
    }

    .button button:nth-child(2) img{
        width: 30px;
    }
}
@media(max-width: 320px){
    main{
        padding-inline: 10px;
    }
    .container{
        width: 40%;
        min-width: 300px;
        padding-bottom: 50px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.338);
        background-color: transparent;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    .timer_display{
        font-size: 20px;
    }
    .button{
        width: 90%;
        margin: 60px auto 0  auto;
        display: flex;
        justify-content: space-between;
    }
    .button button{
        width: 70px;
        height: 40px;
    }
    .button .button{
        width: 30px;
    }
    .button button:nth-child(2){
        width: 90px;
        height: 50px;
        display: grid;
        place-items: center;
    }
    .button button img{
        width: 20px;
    }
    .button button:nth-child(2) img{
        width: 40px;
    }
}

@media(max-width: 200px){
    main{
        padding-inline: 10px;
    }
    .container{
        width: 40%;
        min-width: 200px;
        padding-bottom: 50px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.338);
        background-color: transparent;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    .timer_display{
        font-size: 12px;
    }
    .button{
        justify-content: space-around;
    }

    .button button{
        width: 30px;
    }
    .button button:nth-child(2){
        width: 50px;
        height: 50px;
    }
    .button button img{
        width: 15px;
    }
    .button button:nth-child(2) img{
        width: 30px;
    }
}